

<div class="site-style">

  <h2>Select an Available Student:</h2>
  <table>
    <% @students.each do |student| %>
      <tr>
        <td>
          <% if student != current_student && current_student.matching_challenge(student) && !current_student.matching_time(student).empty? %>
            <% student.timeslots.each do |timeslot| %>
              <form class="" action="/pairs" method="post">
                <label for="potential-pair"><%= student.name %> is available at <%= Timeslot.find(timeslot).to_s %> to pair on the <%= student.challenge.name %> challenge </label>
                <input id="potential-pair"type="checkbox" name="pair-student" value="<%= student.id %>">
              </form>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>



</div>
