

<div class="site-style">

  <h2>Select an Available Student:</h2>
  <table>
    <% @students.each do |student| %>
      <tr>
        <td>
          <% if current_student.matching_challenge(student) %>
        </td>
      </tr>
  </table>



</div>
